body {
    margin: 0;
    /* my personal touch Grey style */
    background-color: rgb(214, 212, 212);
}

img {
    width: 200px;
    height: 300px;
    object-fit: fill;
  }

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    /* my personal touch Grey style */
    background-color: rgb(185, 184, 184);
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}