<!DOCTYPE html>
<html>
    <head>
        <title>PageNotFound</title>
        <style>
            h1 {
                font-size: 50px;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color: red;
            }
            p {
                font-size: 20px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: tomato;
            }
        </style>
    </head>
    <body>
        <h1>
            Page not found (404) OR already exist for user´s new entry attempt
            <p>Method:	GET/POST</p> 
            Request URL: :(
        </h1>
        <p>Wiki does not have an article with this exact name OR the encyclopedia entry already exist with the provided title. Please search for alternative titles or spellings. You can create this article. Alternatively, you can use the Article search Search in existing articles. Look for pages within Wiki that link to this title. Other reasons this message may be displayed: If a page was recently created here, it may not be visible yet because of a delay in updating the database; wait a few minutes or try the purge function. Titles on Wiki are case sensitive except for the first character; please check alternative capitalizations and consider adding a redirect here to the correct title. If the page has been deleted, check the deletion log.</p>

    </body>
</html>